body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.footer-content {
    margin: auto;
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    width: 100%;
    padding: 10px;
}

.f-company {
    height: 38px;
}

.f-company img {
    margin: 7px 10px 0 0;
    width: 36px;
    height: 38px;
}

.f-company a {
    display: flex;
    text-decoration: none;
}

.footer-content a:hover {
    text-decoration: underline;
}

footer {
    background-color: #767676;
    color: #ffffff;
    font-size: 14px;
    line-height: 22px;
    font-family: 'PT Sans', sans-serif;
    display: flex;
    align-items: center;
    height: 200px;
    margin-top: auto;
}

@media(max-width: 999px){
    .footer-content{
        width: 800px
    }
}

@media(max-width: 600px){
    footer{
        height: max-content;
    }

    .footer-content{
        padding: 40px 0px;
        display: block;
        width: 250px;
    }

    .f-company{
        height: 80px;
        padding-bottom: 50px;
    }

    .f-email, .f-catalog{
        padding: 10px;
    }
}
