.container-menu {
    background-color: #767676;
    color: #ffffff;
    font-size: 30px;
    letter-spacing: 1px;
    font-family: 'PT Sans', sans-serif;
    text-align: center;
    justify-content:space-evenly;
}

.menu {
    width: 980px;
    padding: 10px;
    margin: 0 auto;
    display: flex;
}
.menu div {
    flex-grow: 1;
}

.menu a {
    text-decoration: none;
    color: #ffffff;
    flex-grow: 1;
}

.menu a:hover {
    text-decoration: underline;
}

@media(max-width: 989px){
    .container-menu{
        font-size: 16px;
        letter-spacing: 0px;
    }

    .menu {
        width: 415px;
    }
}

@media(max-width: 415px){
    .container-menu{
        font-size: 12px;
    }

    .menu {
        width: max-content;
    }
}