.container-slider {
    width: 100%;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.slider-image {
    margin: 0 auto;
    display: block;
    height: auto;
}

.slider-menu {
    padding: 10px;
    position: absolute;
    align-items: center;
    bottom: 50%;
    left: 50%;
    transform: translateX(-50%);
    width: 1000px;
    display: flex;
    justify-content: space-between;
}

.preview-img button,
.next-img button {
    height: 61px;
    background: none;
    border: none;
}

.preview-img img,   
.next-img img {
    opacity: 0.8;
}

.preview-img img:hover,
.next-img img:hover{
    opacity: 1;
}

@keyframes fadeIn {
    from {
        opacity: 0.5;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@media(max-width: 1400px) {
    .slider-image {
        width: 100%;
    }
}

@media(max-width: 999px){

    .slider-menu{
        width: 80%;
        bottom: 40%;
        height: auto;
    }

    .slider-menu img{
        height: 90%;
        width: 90%;
    }
}

@media(max-width: 600px){
    .slider-menu{
        width: 90%;
        bottom: 30%;
    }

    .slider-menu img{
        height: 80%;
        width:80%;
    }
}

@media(max-width: 415px){
    .slider-menu{
        bottom:10%;
    }

    .slider-menu img{
        height: 60%;
        width: 60%;
    }
}